@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(39,55,77,1) 0%, rgba(77,134,156,1) 70%);
    display: flex;
    justify-content: center;
    height: 110vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

button{
    background-color: #4D869C;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

button:hover {
    background-color: #3E6C7E;
}

.header-image {
    max-width: 13%;
    height: auto;
    margin-top: -55px;
}

.container {
    padding: 50px;
    border-radius: 15px;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.room{
    background-color: #EEF7FF;
    border-radius: 10px;
    width: 30%;
    margin-right: 50px; 
}

.room h2 {
    color: #4D869C;
    margin-top: 25px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.room .button-room-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.room .button-room-container button {
    background-color: #4D869C;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.room .button-room-container button:hover {
    background-color: #3E6C7E;
}

.chatbox {
    background-color: #EEF7FF;
    border-radius: 10px;
    width: 100%;
    margin-right: 50px;
}

.chatbox h2{
    color: #4D869C;
    margin-top: 25px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.messages {
    margin-bottom: 48%;
}

.input-box {
    display: flex;
    justify-content: center;
    margin-top: 66%;
}

.input-box input {
    width: 93%;
    font-size: 16px;
    padding: 100px;
    border-radius: 10px;
    border: 2px solid #cccc;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    outline: none;
}

.input-box input:focus {
    border: 2px solid #4D869C;
}

.mood-section {
    background-color: #EEF7FF;
    height: 100%;
    border-radius: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-placeholder {
    background-color: #d9d9d9;
    width: 85%;
    height: 250px;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 10px;
}

.mood-section .button-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 10px;
}

.mood-section button {
    background-color: #4D869C;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    margin-bottom: 35px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.mood-section button:hover {
    background-color: #3E6C7E;
}

.current-mood {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 32px;
}

.current-mood h3 {
    margin-bottom: 3px;
}

.current-mood p{
    color: #4D869C;
}


.memory {
    width: 85%;
    text-align: left;
    font-size: 14px;
    font-weight: bolder;
}


